---
layout: default
---

{% include metadata.liquid %}

<header class="bg-gray-4 fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="{{site.url}}/2025">
                <img src="{{ site.baseurl }}/images/isca2025.png" alt="" width="39" height="24"
                    class="d-inline-block align-text-top">
                {{ site.title }}
            </a>

            <div class="nav-item nav-link dropdown ms-auto">
                <a class="btn btn-primary btn-sm dropdown-toggle" href="#" id="navbarDropdownYears" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Select Year: 2025
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownYears">
                    <li><a class="dropdown-item" href="{{ site.baseurl }}/2024/">2024</a></li>
                    <li><a class="dropdown-item" href="{{ site.baseurl }}/2025/">2025</a></li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#About">About</a>
                    <a class="nav-item nav-link" href="#Topics">Topics</a>
                    <a class="nav-item nav-link" href="#Program">Program</a>
                    <a class="nav-item nav-link" href="#Location">Location</a>
                    <a class="nav-item nav-link" href="#Details">Details</a>
                    <a class="nav-item nav-link" href="#Organizer">Organizer</a>
                    <a class="nav-item nav-link" href="mailto:ai4facd@gmail.com">Contact us</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<main style="margin-top: 100px;">

    <style>
        a.anchor {
            display: block;
            position: relative;
            top: -60px;
            visibility: hidden;
        }
    </style>

    <div class="container px-5 py-3 bg-gray-2 rounded">

        <div style="
        background-color: #07263b;
	    background-image: url('{{ site.baseurl }}/images/bg2025.jpg');
        background-repeat: no-repeat;
	    background-size: contain;
	    background-position: center center;
	    width: 100%;
	">
            <h1 class="display-3 text-center text-light">AI for Fully-Automated Chip Design</h1>
            <h1 class="display-3 text-center text-light">The Times They Are a-Changin'</h1>
            <p class="lead text-center text-light">June 21-25, 2025, Tokyo, Japan</p>
            <p class="lead text-center text-light">Co-Located with <a class="text-danger"
                    href="https://iscaconf.org/isca2025/"><strong>ISCA 2025</strong></a></p>
        </div>

        <section>
            <a class="anchor" id="About"></a>
            <hr class="my-4">
            <h3>About</h3>
            <p>
                Welcome to the workshop on <strong>AI for Fully-Automated Chip Design</strong>, to be located with ISCA
                2025.
                This year has marked a transformative leap in AI technology, particularly in the
                domain of <strong>reasoning tasks</strong>, where AI has surpassed average human performance in
                areas such as mathematical problem-solving and competitive programming.
                Impressively, AlphaProof won a silver medal at the IMO, OpenAI O3 has achieved a programming level
                comparable to the top 200 competitors worldwide on Codeforces, and DeepSeek R1 has
                demonstrated the self-emergence of reasoning in LLMs. Chip design, which represents
                the apex of logical computation — a fundamental reasoning task — has seen its potential for
                fully automated design greatly enhanced by the rapid advancements in AI-driven
                methodologies and computational intelligence. We are eager to explore whether the
                revolutionary advancements in AI are truly sufficient to solve this Holy Grail problem in
                computing, ushering in a new era.
            </p>

            <p>
                Therefore, we aim to organize this workshop to bring
                together more architectural designers to discuss <strong>how to apply the cutting-edge AI
                    techniques to boost automated architectural design</strong>,
                and necessitate collaboration among researchers with expertise in
                <strong>machine learning, programming languages, compilers, computer architecture, and electronic design
                    automation (EDA)</strong>.
            </p>
        </section>

        <section>
            <a class="anchor" id="Topics"></a>
            <hr class="my-4">
            <h3>Topics</h3>
            This workshop will focus on but not limited to the following topics:
            <ul>
                <li>Benchmarks, Datasets, and Tool-suits for AI-driven Automated Chip Design.</li>
                <li>Foundation Models (LLMs and Multimodal Models), Agents, and Frameworks for Automated Circuit and
                    Chip Design.</li>
                <li>Architecture Design Language or Software Stack for AI-driven Automated Chip Design.</li>
                <li>AI Techniques for Power/Performance/Area (PPA) Prediction and Optimization.</li>
                <li>Verification and Testing Flows for AI-driven Automated Chip Design.</li>
                <li>AI Techniques for Verification and Testing.</li>
                <li>Automated Design Space Exploration.</li>
                <li>Emerging Methods for Automated Chip Generation.</li>
            </ul>
        </section>

        <section>
            <a class="anchor" id="Program"></a>
            <hr class="my-4">
            <h3>Program</h3>

            {% if site.data.program2025 %}
            <hr class="my-4">
            <div class="row">
                <div class="accordion accordion-flushs">
                    {% for day in site.data.program2025.days %}
                    {% assign slug = day.name | slugify %}
                    <div class="accordion-item">
                        <h5 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{ slug }}" aria-expanded="true" aria-controls="{{ slug }}">
                                <span class="h5 m-0">{{ day.name }}</span>
                            </button>
                        </h5>
                        <div id="{{ slug }}" class="accordion-collapse collapse show">
                            <div class="accordion-body mt-2">
                                {% assign categories = site.data.program2025.legend.categories %}
                                <ul class="list-unstyled ms-3 ms-lg-0 lh-sm">
                                    {% for event in day.events %}
                                    {% if event.category %}
                                    {% assign category = categories | find: 'name', event.category %}
                                    {% assign color = category.color %}
                                    {% else %}
                                    {% assign color = 'gray-4' %}
                                    {% endif %}
                                    {% assign start = event.time | split: ' to ' | slice: 0 %}
                                    {% assign end = event.time | split: ' to ' | slice: 1 %}
                                    <li class="d-flex flex-column flex-lg-row">
                                        {% assign classes = color | prepend: 'border-start border-3 border-' %}
                                        <div class="row col-lg-2 pb-2 {{ classes }} border-lg-0">
                                            <small class="fw-light text-muted">{{ start }}–{{ end }}</small>
                                        </div>
                                        {% unless forloop.last %}
                                        {% assign classes = classes | append: ' mb-4' %}
                                        {% endunless %}
                                        <div class="row col-lg-10 {{ classes }}">
                                            {% if event.detail %}
                                            <h5 class="fw-normal m-0 mb-2"><a href="{{ event.detail }}">{{ event.title
                                                    }}</a></h5>
                                            {% else %}
                                            <h5 class="fw-normal m-0 mb-2">{{ event.title }}</h5>
                                            {% endif %}
                                            <p class="fw-light m-0">{{ event.subtitle }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% assign legend = day.events | map: 'category' | compact | uniq %}
                                {% assign size = legend | size %}
                                {% if size > 0 %}
                                <div class="mt-4 mb-2">
                                    {% if site.data.program2025.legend.title %}
                                    <h5 class="fw-normal">{{ site.data.program.legend.title }}</h5>
                                    {% endif %}
                                    {% for item in legend %}
                                    {% assign border = categories | where: 'name', item | map: 'color' | first %}
                                    {% assign bg = border | split: '-' | first | prepend: 'bg-' | append: '-1' %}
                                    {% assign classes = border | prepend: ' border-' | prepend: bg %}
                                    {% unless forloop.last %}
                                    {% assign classes = classes | append: ' me-lg-2' %}
                                    {% endunless %}
                                    {% if border %}
                                    <small
                                        class="d-block d-lg-inline-block mt-2 px-3 py-1 border-start border-3 {{ classes }}">{{
                                        item | upcase }}</small>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </section>


        <section>
            <a class="anchor" id="Location"></a>
            <hr class="my-4">
            <h3>Location</h3>
            Tokyo, Japan, at the <a href="https://www.waseda.jp/top/en/" target="_blank">Waseda University</a> — Room 113, B1, Building 121.
            <style>
                /* Don't forget to give the container a height! */
                #mapContainer {
                    height: 450px;
                    /* Or whatever height you want */
                    width: 100%;
                }
            </style>
            <div id="mapContainer"></div>
            <script src="{{ '/assets/js/leaflet.js' | prepend: site.url }}"></script>
            <script>
                var map = L.map('mapContainer').setView([35.707669505483786, 139.72136055582274], 15); // Lat, Long, Zoom

                // Add an OpenStreetMap tile layer
                // Make sure to include the required attribution
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19, // Maximum zoom level tiles are available for
                    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map); // Add the tile layer to the map

                // Add a marker to the map
                var marker = L.marker([35.707669505483786, 139.72136055582274]).addTo(map);

                // Add a popup to the marker (optional)
                marker.bindPopup("<b>Room 113, B1, Building 121</b>").openPopup();

                // You could add more markers, circles, polygons, etc. here
                // Example Circle:
                // L.circle([40.72, -74.00], {
                //     color: 'blue',
                //     fillColor: '#cde',
                //     fillOpacity: 0.5,
                //     radius: 1000 // meters
                // }).addTo(map).bindPopup("I am a circle.");

            </script>
        </section>

        <section>
            <a class="anchor" id="Details"></a>
            <hr class="my-4">
            <h3>Program Details</h3>

            <div class="card anchor mb-3" id="no2">
                <h4 class="card-header">Hypothesizing (Fantasizing) Autonomous Hardware Design</h4>
                <div class="card-body">
                    <h5 class="card-title">Abstract</h5>
                    <p class="card-text">Inspired by recent successes of AI in coding and mathematical reasoning, it is
                        natural to ask: can similar approaches learn to design hardware autonomously, guided by
                        verifiable feedback like compilation success or performance metrics? A major bottleneck in this
                        feedback loop is today's EDA tool stack, which is slow to run, hard to adapt to new
                        architectures/technologies, and heavily reliant on brittle handcrafted heuristics. This talk
                        outlines our ongoing exploration of combining LLMs, formal methods, and differentiable compiler
                        optimizations--that could enable scalable, feedback-driven EDA tool construction and ultimately
                        unlock the path toward generative hardware design.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bio</h5>
                    <p class="card-text">Zhiru Zhang is a Professor in the School of ECE at Cornell University. His
                        current research investigates new algorithms, design methodologies, and automation tools for
                        heterogeneous computing. Dr. Zhang is an IEEE Fellow and has been honored with the Intel
                        Outstanding Researcher Award, AWS AI Amazon Research Award, Facebook Research Award, Google
                        Faculty Research Award, DAC Under-40 Innovators Award, DARPA Young Faculty Award, IEEE CEDA
                        Ernest S. Kuh Early Career Award, and NSF CAREER Award. He has also received multiple best paper
                        awards from premier conferences and journals in the fields of computer systems and machine
                        learning. He was a co-founder of AutoESL, a high-level synthesis start-up later acquired by
                        Xilinx (now part of AMD). AutoESL's HLS tool evolved into Vivado/Vitis HLS, which is widely used
                        for designing FPGA-based hardware accelerators.</p>
                </div>
            </div>

            <div class="card anchor mb-3" id="no3">
                <h4 class="card-header">The Role of AI for Next Generation SW/HW Codesign</h4>
                <div class="card-body">
                    <h5 class="card-title">Abstract</h5>
                    <p class="card-text">SW/HW codesign offers the promise of higher performance and more efficient
                        systems by jointly optimizing software (SW) and hardware (HW) design decisions in a closed
                        feedback loop. Historically, closing this loop between SW algorithm designers and HW experts has
                        been challenging due to various factors such as differences in execution speed, semantic gaps in
                        design representations, and expertise disparities. This talk will provide a view on how AI for
                        HW can help address these challenges and unlock unprecedented design flow efficiencies and close
                        gaps in the SW/HW codesign loop. By fully automating the HW design processes with AI, we can
                        eventually empower algorithm designers to make hardware-aware design decisions and unlock a
                        powerful new class of SW/HW codesign optimizations.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bio</h5>
                    <p class="card-text">Vincent T. Lee is a Research Scientist in Reality Labs Research at Meta working
                        on next-generation XR systems and architectures. He received his PhD in Computer Science and
                        Engineering from the University of Washington specializing in computer architecture. His
                        research interests include full-system architecture modeling and optimization, SW/HW codesign,
                        AI-assisted EDA/CAD, agile hardware design methodologies, and sustainability-aware system design
                        for XR systems.</p>
                </div>
            </div>

            <div class="card anchor mb-3" id="no4">
                <h4 class="card-header">QiMeng: Automated Hardware and Software Design for Processor Chip</h4>
                <div class="card-body">
                    <h5 class="card-title">Abstract</h5>
                    <p class="card-text">With the rapid advancement of information technology, conventional design
                        paradigms face three major challenges: the physical constraints of fabrication technologies, the
                        escalating demands for design resources, and the increasing diversity of ecosystems. Automated
                        processor chip design has emerged as a transformative solution to address these challenges.
                        However, substantial challenges remain in establishing domain-specific LLMs for processor chip
                        design. In this talk, I will introduce QiMeng, a novel system for fully automated hardware and
                        software design of processor chips. QiMeng comprises three hierarchical layers. In the
                        bottom-layer, it constructs a domain-specific Large Processor Chip Model (LPCM) that introduces
                        novel designs in architecture, training, and inference, to address key challenges such as
                        knowledge representation gap, data scarcity, correctness assurance, and enormous solution space.
                        In the middle-layer, leveraging the LPCM's knowledge representation and inference capabilities,
                        it develops the Hardware Design Agent and the Software Design Agent to automate the design of
                        hardware and software for processor chips. Currently, several components of QiMeng have been
                        completed and successfully applied in various top-layer applications, demonstrating significant
                        advantages and providing a feasible solution for efficient, fully automated hardware/software
                        design of processor chips. Future research will focus on integrating all components and
                        performing iterative top-down and bottom-up design processes to establish a comprehensive QiMeng
                        system. </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bio</h5>
                    <p class="card-text">Di Huang is a postdoctoral researcher at the Institute of Computing Technology,
                        Chinese Academy of Sciences. He obtained his Ph.D degree in computer architecture from ICT, CAS
                        in 2023 and the bachelor degree of Engineering from Department of Physics, Tsinghua University
                        in 2018. His research interests mainly focus on AI for computer architecture and code
                        generation, especially large language model-based methodologies. His researches have been
                        published in conferences such as Micro, OSDI, NeurIPS, ICLR, AAAI.</p>
                </div>
            </div>

            <div class="card anchor mb-3" id="no5">
                <h4 class="card-header">Hair of the Dog: How AI Can Help Formally Verify AI-Designed Chips</h4>
                <div class="card-body">
                    <h5 class="card-title">Abstract</h5>
                    <p class="card-text">The use of AI in chip design has grown by leaps and bounds, improving our
                        ability to effectively carry out tasks like layout generation and clock tree synthesis. Ongoing
                        work is also looking at incorporating AI into earlier parts of the architectural design process.
                        However, the outputs of AI models are not guaranteed to be correct. To truly enable
                        fully-automated chip design, we need to ensure that AI-designed chips satisfy functional
                        requirements, security guarantees, and more.</p>
                    <p class="card-text">
                        Formal verification can enable the strong correctness guarantees that we need from our chips
                        today. However, formal verification is difficult to scale to large designs like those of
                        commercial processors. Can AI help bridge this gap? In this talk, I will describe two techniques
                        from the formal methods community that use AI to help formal methods tackle larger problems. I
                        will cover the use of AI in neurosymbolic synthesis approaches, which can be used to generate
                        formal microarchitectural models to use for verification. I will also cover how AI can be used
                        to improve verification efficiency by synthesising invariants necessary for verification.
                        Finally, I will cover some of the open challenges in applying AI to formal hardware
                        verification.
                    </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bio</h5>
                    <p class="card-text">Yatin Manerkar is an Assistant Professor in the Computer Science and
                        Engineering Division at the University of Michigan. He received his PhD from Princeton
                        University in January 2021, and was advised by Prof. Margaret Martonosi. His research lies on
                        the boundary between computer architecture and formal methods, and develops automated formal
                        methodologies and tools for the design and verification of hardware and software systems.
                        Yatin's work covers multiple areas, including concurrency, hardware security, and formal
                        synthesis. His research has been recognised with three best paper nominations, and three of his
                        papers have been recognised as IEEE Micro Top Picks or Honorable Mentions for their high
                        potential impact. Yatin's PhD dissertation also received an Honorable Mention for the ACM
                        SIGARCH/IEEE CS TCCA Outstanding Dissertation Award in 2021. He has received Distinguished
                        Reviewer Awards from PLDI and ASPLOS.</p>

                </div>
            </div>

            <div class="card anchor mb-3" id="no6">
                <h4 class="card-header">Learning with Limited Resources: Optimizing Neural Networks for Extreme
                    Efficiency</h4>
                <div class="card-body">
                    <h5 class="card-title">Abstract</h5>
                    <p class="card-text">In this talk, we discuss a few cutting-edge methodologies for optimizing neural
                        networks in resource-constrained environments. To this end, we address key challenges in neural
                        architecture search, dynamic adaptation, on-device training, while focusing on significantly
                        reducing the computational and memory requirements while maintaining energy efficiency for
                        various IoT applications. By optimizing for efficiency, these methods pave the way towards more
                        scalable, adaptable, and sustainable AI solutions, thus facilitating broader deployment across
                        diverse, resource-limited settings.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bio</h5>
                    <p class="card-text">Radu Marculescu is a Professor and the Laura Jennings Turner Chair in
                        Engineering in the Department of Electrical and Computer Engineering at The University of Texas
                        at Austin. Between 2000-2019, he was a Professor in the Electrical and Computer Engineering
                        department at Carnegie Mellon University. His current research focuses on developing AI/ML
                        algorithms and tools for system design and optimization for computer vision, bioimaging, and IoT
                        applications. He has received the 2019 IEEE Computer Society Edward J. McCluskey Technical
                        Achievement Award, for seminal contributions to the science of network on chip design, analysis,
                        and optimization. He has also received the 2020 ESWEEK Test-of-Time Award from The International
                        Conference on Hardware/Software Co-Design and System Synthesis (CODES). He is an IEEE Fellow and
                        an ACM Fellow.</p>
                </div>
            </div>

        </section>


        <section>
            <a class="anchor" id="Organizer"></a>
            <hr class="my-4">
            <h3>Organizing Committee</h3>
            <h4>PC Chairs</h4>
            <ul class="list-unstyled">
                <li class="fw-light"><a href="mailto:huxing@ict.ac.cn">Xing Hu</a>, ICT, Chinse Academy of Sciences</li>
                <li class="fw-light"><a href="mailto:yibolin@pku.edu.cn">Yibo Lin</a>, Peking University</li>
                <li class="fw-light"><a href="mailto:gsun@pku.edu.cn">Guangyu Sun</a>, Peking University</li>
                <li class="fw-light"><a href="mailto:yuanxie@ust.hk">Yuan Xie</a>, Hong Kong University of Science and
                    Technology (HKUST)</li>
            </ul>
            <h4>Web Chairs</h4>
            <ul class="list-unstyled">
                <li class="fw-light"><a href="mailto:nanziyuan21s@ict.ac.cn">Ziyuan Nan</a>, ICT, Chinse Academy of
                    Sciences</li>
                <li class="fw-light"><a href="mailto:@ict.ac.cn">Chenxiao Liu</a>, ICT, Chinse Academy of Sciences</li>
            </ul>
        </section>

    </div>
</main>

<footer class="container cemb-4 text-center py-3">
    <small class="text-muted">ISCA Workshop: AI for Fully-Automated Chip Design (AI4FACD @ ISCA 2025)</small>
</footer>
