---
layout: default
---

{% include metadata.liquid %}

<header class="bg-gray-4 fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="{{site.url}}/2025">
                <img src="{{ site.baseurl }}/images/isca2025.png" alt="" width="39" height="24"
                    class="d-inline-block align-text-top">
                {{ site.title }}
            </a>

            <div class="nav-item nav-link dropdown ms-auto">
                <a class="btn btn-primary btn-sm dropdown-toggle" href="#" id="navbarDropdownYears" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Select Year: 2025
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownYears">
                    <li><a class="dropdown-item" href="{{ site.baseurl }}/2024/">2024</a></li>
                    <li><a class="dropdown-item" href="{{ site.baseurl }}/2025/">2025</a></li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#About">About</a>
                    <a class="nav-item nav-link" href="#Topics">Topics</a>
                    <a class="nav-item nav-link" href="#Organization">Organization and Program Format</a>
                    <a class="nav-item nav-link" href="#SubmissionGuideline">Submission Guideline</a>
                    <a class="nav-item nav-link" href="#Location">Location</a>
                    <a class="nav-item nav-link" href="#Organizer">Organizer</a>
                    <a class="nav-item nav-link" href="mailto:ai4facd@gmail.com">Contact us</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<main style="margin-top: 100px;">

    <style>
        a.anchor {
            display: block;
            position: relative;
            top: -60px;
            visibility: hidden;
        }
    </style>

    <div class="container px-5 py-3 bg-gray-2 rounded">

        <div style="
        background-color: #07263b;
	    background-image: url('{{ site.baseurl }}/images/bg2025.jpg');
        background-repeat: no-repeat;
	    background-size: contain;
	    background-position: center center;
	    width: 100%;
	">
            <h1 class="display-3 text-center text-light">AI for Fully-Automated Chip Design</h1>
            <h1 class="display-3 text-center text-light">The Times They Are a-Changin'</h1>
            <p class="lead text-center text-light">June 21-25, 2025, Tokyo, Japan</p>
            <p class="lead text-center text-light">Co-Located with <a class="text-danger"
                    href="https://iscaconf.org/isca2025/"><strong>ISCA 2025</strong></a></p>
        </div>

        <section>
            <a class="anchor" id="About"></a>
            <hr class="my-4">
            <h3>About</h3>
            <p>
                Welcome to the workshop on <strong>AI for Fully-Automated Chip Design</strong>, to be located with ISCA
                2025.
                This year has marked a transformative leap in AI technology, particularly in the
                domain of <strong>reasoning tasks</strong>, where AI has surpassed average human performance in
                areas such as mathematical problem-solving and competitive programming.
                Impressively, AlphaProof won a silver medal at the IMO, OpenAI O3 has achieved a programming level
                comparable to the top 200 competitors worldwide on Codeforces, and DeepSeek R1 has
                demonstrated the self-emergence of reasoning in LLMs. Chip design, which represents
                the apex of logical computation — a fundamental reasoning task — has seen its potential for
                fully automated design greatly enhanced by the rapid advancements in AI-driven
                methodologies and computational intelligence. We are eager to explore whether the
                revolutionary advancements in AI are truly sufficient to solve this Holy Grail problem in
                computing, ushering in a new era.
            </p>

            <p>
                Therefore, we aim to organize this workshop to bring
                together more architectural designers to discuss <strong>how to apply the cutting-edge AI
                    techniques to boost automated architectural design</strong>,
                and necessitate collaboration among researchers with expertise in
                <strong>machine learning, programming languages, compilers, computer architecture, and electronic design
                    automation (EDA)</strong>.
            </p>
        </section>

        <section>
            <a class="anchor" id="Topics"></a>
            <hr class="my-4">
            <h3>Topics</h3>
            This workshop will focus on but not limited to the following topics:
            <ul>
                <li>Benchmarks, Datasets, and Tool-suits for AI-driven Automated Chip Design.</li>
                <li>Foundation Models (LLMs and Multimodal Models), Agents, and Frameworks for Automated Circuit and
                    Chip Design.</li>
                <li>Architecture Design Language or Software Stack for AI-driven Automated Chip Design.</li>
                <li>AI Techniques for Power/Performance/Area (PPA) Prediction and Optimization.</li>
                <li>Verification and Testing Flows for AI-driven Automated Chip Design.</li>
                <li>AI Techniques for Verification and Testing.</li>
                <li>Automated Design Space Exploration.</li>
                <li>Emerging Methods for Automated Chip Generation.</li>
            </ul>
        </section>

        <section>
            <a class="anchor" id="Organization"></a>
            <hr class="my-4">
            <h3>Organization and Program Format</h3>
	    This workshop will consist of talks given by invited experts from both industry and academia.
	    We plan to organize a half-day workshop, along with a poster session.
        </section>

        <section>
            <a class="anchor" id="SubmissionGuideline"></a>
            <hr class="my-4">
            <h3>Submission Guideline</h3>
            <p><strong>Submissions are now open!</strong> We invite contributions for the workshop.</p>
            <p>Please submit your work via our official HotCRP portal:</p>
            <p><a href="https://ai4facd2025.hotcrp.com/" target="_blank" rel="noopener noreferrer">https://ai4facd2025.hotcrp.com/</a></p>
	    <ul>
		    <li>This workshop welcomes submissions of <strong>short papers</strong>, limited to 2 pages (excluding references), formatted in a double-column layout.</li>
		    <li>Authors are encouraged to use the provided <a href="{{site.baseurl}}/assets/downloads/template.tex">LaTeX template</a>.</li>
		    <li><strong>Submissions must clearly define the research problem, its motivation, and technical contributions</strong>, written in English and submitted as a single PDF file.</li>
		    <li><strong>Papers may include works in progress, exploratory or preliminary studies, or previously published research.</strong></li>
		    <li><strong>Submissions will be evaluated based on novelty, technical quality, potential impact, community interest, clarity, relevance to the workshop, and reproducibility.</strong></li>
		    <li><strong>Reviews will be non-blind;</strong> authors must include their names and affiliations in the PDF without anonymization.</li>
		    <li><strong>Accepted papers will not appear in formal proceedings</strong> but will be published on the workshop website, allowing authors to further develop and submit their work elsewhere.</li>
		    <li><strong>At least one author of each accepted paper must attend the workshop and present their work.</strong></li>
	    </ul>
	    <a href="{{site.baseurl}}/assets/downloads/template.tex" class="btn btn-dark">Download LaTeX template</a>
        </section>


        <section>
            <a class="anchor" id="Location"></a>
            <hr class="my-4">
            <h3>Location</h3>
            Tokyo, Japan, at the <a href="https://www.waseda.jp/top/en/" target="_blank">Waseda University</a>
            <style>
                /* Don't forget to give the container a height! */
                #mapContainer {
                    height: 450px;
                    /* Or whatever height you want */
                    width: 100%;
                }
            </style>
            <div id="mapContainer"></div>
            <script src="{{ '/assets/js/leaflet.js' | prepend: site.url }}"></script>
            <script>
                var map = L.map('mapContainer').setView([35.70912107220694, 139.71959485583108], 15); // Lat, Long, Zoom

                // Add an OpenStreetMap tile layer
                // Make sure to include the required attribution
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19, // Maximum zoom level tiles are available for
                    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map); // Add the tile layer to the map

                // Add a marker to the map
                var marker = L.marker([35.70912107220694, 139.71959485583108]).addTo(map);

                // Add a popup to the marker (optional)
                marker.bindPopup("<b>Hello!</b>").openPopup();

                // You could add more markers, circles, polygons, etc. here
                // Example Circle:
                // L.circle([40.72, -74.00], {
                //     color: 'blue',
                //     fillColor: '#cde',
                //     fillOpacity: 0.5,
                //     radius: 1000 // meters
                // }).addTo(map).bindPopup("I am a circle.");

            </script>
        </section>


        <section>
            <a class="anchor" id="Organizer"></a>
            <hr class="my-4">
            <h3>Organizing Committee</h3>
            <ul class="list-unstyled">
                <li class="fw-light"><a href="mailto:huxing@ict.ac.cn">Xing Hu</a>, ICT, Chinse Academy of Sciences</li>
                <li class="fw-light"><a href="mailto:yibolin@pku.edu.cn">Yibo Lin</a>, Peking University</li>
                <li class="fw-light"><a href="mailto:gsun@pku.edu.cn">Guangyu Sun</a>, Peking University</li>
                <li class="fw-light"><a href="mailto:yuanxie@ust.hk">Yuan Xie</a>, Hong Kong University of Science and Technology (HKUST)</li>
                </li>
            </ul>
        </section>

    </div>
</main>

<footer class="container cemb-4 text-center py-3">
    <small class="text-muted">ISCA Workshop: AI for Fully-Automated Chip Design (AI4FACD @ ISCA 2025)</small>
</footer>
