<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.indexing and page.layout != 404 %}
    {% seo %}
    {% else %}
    <meta name="robots" content="none">
    {% if page.title %}
    <title>{{ site.title | prepend: ' | ' | prepend: page.title }}</title>
    {% else %}
    <title>{{ site.title | append: ' | ' | append: site.description }}</title>
    {% endif %}
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/leaflet.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/open-color.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicon/apple-touch-icon.png' | prepend: site.url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon/favicon-32x32.png' | prepend: site.url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon/favicon-16x16.png' | prepend: site.url }}">
    <link rel="manifest" href="{{ '/images/favicon/site.webmanifest' | prepend: site.url }}">
</head>

<body>
    {{ content }}
    <script src="{{ '/assets/js/bootstrap.js' | prepend: site.url }}"></script>
    <script src="{{ '/assets/js/leaflet.js' | prepend: site.url }}"></script>
    <script src="{{ '/assets/js/main.js' | prepend: site.url }}"></script>
</body>

</html>
