---
layout: default
---

{% include metadata.liquid %}

<header class="bg-gray-4 fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="{{ site.url }}">
                <img src="{{ site.baseurl }}/images/isca.png" alt="" width="39" height="24" class="d-inline-block align-text-top">
                {{ site.title }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#About">About</a>
                    <a class="nav-item nav-link" href="#Topics">Topics</a>
                    <a class="nav-item nav-link" href="#Submission">Submission</a>
                    <a class="nav-item nav-link" href="#Program">Program</a>
                    <a class="nav-item nav-link" href="#Location">Location</a>
                    <a class="nav-item nav-link" href="#Organizer">Organizer</a>
                    <a class="nav-item nav-link" href="mailto:ai4facd@gmail.com">Contact us</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<main style="margin-top: 100px;">

    <style>
        a.anchor {
          display: block;
          position: relative;
          top: -60px;
          visibility: hidden;
        }
    </style>

    <div class="container px-5 py-3 bg-gray-2 rounded">
        
        <div style="background-image: url('{{ site.baseurl }}/images/bg.jpg');">
        <h1 class="display-3 text-center text-light">{{ title }}</h1>
        <p class="lead text-center text-light">June 29–July 3 2024, Buenos Aires, Argentina</p>
        <p class="lead text-center text-light">Co-Located with <a class="text-warning" href="https://iscaconf.org/isca2024/"><strong>ISCA 2024</strong></a></p>
        </div>

        <section>
            <a class="anchor" id="About"></a>
            <hr class="my-4">
            <h3>About</h3>
            <p>
                Welcome to the workshop on <strong>AI for Fully-Automated Chip Design</strong>, to be located with ISCA 2024.
                Over the past decades, numerous researchers and engineers have made significant contributions
                to the design of high-performance computers. The pursuit of <strong>automated processor design</strong> has been
                a long-standing goal. As artificial intelligence (AI) demonstrates its potential to outperform
                humans in specific areas — such as playing Go, optimizing code, and predicting protein
                structures — architecture researchers are increasingly interested in exploring the use of AI
                techniques to enable automated processor design. Some recent advancements in this field have
                made some progress in AI-based architecture optimization. However, these initiatives lag
                significantly behind the goal of achieving autonomous processor design and self-evolution,
                a concept envisioned by Von Neumann in 1956 as "Self-Reproducing Automata". Clearly, processor
                design is fundamentally different from traditional AI tasks: The precision necessary for CPU
                design is extraordinarily high (>99.99999999999%), vastly surpassing the levels typically
                associated with prediction and generation tasks in the field of AI. CPU design is the ultimate
                product of logical computation, an area in which current data-driven AI technologies fall short,
                presenting a formidable challenge to the proficiency of modern AI.
            </p>

            <p>
                Therefore, we aim to organize this workshop to bring together more architectural designers to
                discuss how to <strong>apply AI techniques to boost automated architectural design</strong>, and <strong>where are the
                boundaries of AI techniques in automated design</strong>.
            </p>
        </section>

        <section>
            <a class="anchor" id="Topics"></a>
            <hr class="my-4">
            <h3>Topics</h3>
            This workshop will focus on but not limited to the following topics:
            <ul>
                <li>High-performance automated design for domain-specific accelerators.</li>
                <li>Development of Architecture Design Language (ADL) tailored for automated processor design.</li>
                <li>Utilization of Large Language Models (LLMs) in automated circuit design.</li>
                <li>Design Technology Co-Optimization (DTCO) methodologies.</li>
                <li>Verification and testing strategies for automated processor design.</li>
                <li>Design space definition and exploration to improve automated design quality.</li>
                <li>Emerging methods for automated processor generation.</li>
            </ul>
        </section>

        <section>
            <a class="anchor" id="Submission"></a>
            <hr class="my-4">
            <h3>Submission</h3>
            <p>
                There will be a mix of invited talks and presentations selected from the submissions to the call
                for participation available here. We will have a panel “AI for Fully-Automated Chip Design: Gimmick
                or Trend?” after the talks.
            </p>

            <ul>
                <li>Submissions should be up to <strong>4</strong> pages in length(excluding references), and must be in
                    PDF format.</li>
                <li>Please ensure your submission follows the <a
                        href="https://www.iscaconf.org/isca2024/submit/">ISCA'24 LaTeX Template</a>, which guarantees
                    consistency and readability for all submissions.</li>

                <li>Abstract submission: <a href="https://easychair.org/conferences/?conf=51stiscaworkshoponai">EasyChair</a></li>
                <li>Abstract submissions deadline: April, 2024</li>
                <li>Author notification: May 13, 2024</li>
            </ul>
        </section>

        <section>
            <a class="anchor" id="Program"></a>
            <hr class="my-4">
            <h3>Program</h3>
            TO BE DECIDED.
            {% if site.data.program %}
            <div class="row">
                {% assign size = site.data.program.days.size %}
                {% if size > 1 %}
                <div class="col-lg-2">
                    {% assign directions = 'horizontal, vertical' | split: ', ' %}
                    {% for direction in directions %}
                    {% if direction == 'horizontal' %}
                    {% assign classes = 'd-block d-lg-none text-center mb-3' %}
                    {% assign control = 'btn-group' %}
                    {% else %}
                    {% assign classes = 'd-none d-lg-block' %}
                    {% assign control = 'btn-group-vertical' %}
                    {% endif %}
                    <div class="{{ classes }}">
                        <div class="btn {{ control }} p-0 aos-init aos-animate" role="tablist" data-aos="fade-up">
                            {% for day in site.data.program.days %}
                            {% assign slug = day.name | slugify %}
                            {% assign classes = 'btn btn-secondary' %}
                            {% if forloop.first %}
                            {% assign classes = classes | append: ' active' %}
                            {% endif %}
                            <button type="button" class="{{ classes }}" data-bs-toggle="tab"
                                data-bs-target="#{{ slug }}" role="tab" aria-controls="{{ slug }}" aria-selected="true">
                                <span class="fs-5">{{ day.name }}</span>
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% assign width = 10 %}
                {% else %}
                {% assign width = 12 %}
                {% endif %}
                <div class="col-lg-{{ width }}">
                    {% for day in site.data.program.days %}
                    {% assign slug = day.name | slugify %}
                    {% assign classes = 'tab-pane fade' %}
                    {% if forloop.first %}
                    {% assign classes = classes | append: ' active show' %}
                    {% endif %}
                    <div class="tab-content aos-init aos-animate" data-aos="fade-up">
                        <div class="{{ classes }}" id="{{ slug }}" role="tabpanel" aria-labelledby="{{ slug }}-tab">
                            {% assign categories = site.data.program.legend.categories %}
                            <ul class="list-unstyled lh-sm">
                                {% for event in day.events %}
                                {% if event.category %}
                                {% assign category = categories | find: 'name', event.category %}
                                {% assign color = category.color %}
                                {% else %}
                                {% assign color = 'gray-4' %}
                                {% endif %}
                                {% assign start = event.time | split: ' to ' | slice: 0 %}
                                {% assign end = event.time | split: ' to ' | slice: 1 %}
                                {% if forloop.last %}
                                {% assign classes = color | append: ' mb-2' %}
                                {% else %}
                                {% assign classes = color | append: ' mb-4' %}
                                {% endif %}
                                <li class="d-flex flex-column flex-lg-row ms-2">
                                    <div class="row col-lg-2 me-lg-4 text-lg-end mb-2">
                                        <small class="fw-light text-muted">{{ start }}–{{ end }}</small>
                                    </div>
                                    <div class="row col-lg-10 border-start border-3 border-{{ classes }}">
                                        {% if event.category %}
                                        <h5 class="fw-normal m-0 mb-2">{{ event.title }}</h5>
                                        <p class="fw-light m-0">{{ event.subtitle }}</p>
                                        {% else %}
                                        <h5 class="fw-light text-muted m-0 mb-2">{{ event.title }}</h5>
                                        <p class="fw-light text-muted m-0">{{ event.subtitle }}</p>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="text-center">
                                {% assign legend = day.events | map: 'category' | compact | uniq %}
                                {% assign size = legend | size %}
                                {% if size > 0 %}
                                {% if site.data.program.legend.title %}
                                <h5 class="fw-normal">{{ site.data.program.legend.title }}</h5>
                                {% endif %}
                                {% for item in legend %}
                                {% assign border = categories | where: 'name', item | map: 'color' | first %}
                                {% assign bg = border | split: '-' | first | prepend: 'bg-' | append: '-1' %}
                                {% assign classes = border | prepend: ' border-' | prepend: bg %}
                                {% if border %}
                                <small
                                    class="d-block d-lg-inline-block mt-2 me-lg-2 px-3 py-1 border-start border-3 {{ classes }}">{{
                                    item | upcase }}</small>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </section>

        <section>
            <a class="anchor" id="Location"></a>
            <hr class="my-4">
            <h3>Location</h3>
            Buenos Aires, Argentina, at the <a href="https://www.hilton.com/en/hotels/buehihh-hilton-buenos-aires/"
                target="_blank">Hilton Buenos</a>
            {%if site.data.locations %}
            <div id="map"></div>
            {% endif %}
        </section>

        <section>
            <a class="anchor" id="Organizer"></a>
            <hr class="my-4">
            <h3>Organizing Committee</h3>
            <ul class="list-unstyled">
                <li class="fw-light"><a href="mailto:huxing@ict.ac.cn">Xing Hu</a>, ICT, Chinse Academy of Sciences</li>
                <li class="fw-light"><a href="mailto:gsun@pku.edu.cn">Guangyu Sun</a>, Peking University</li>
                <li class="fw-light"><a href="mailto:yuanxie@ust.hk">Yuan Xie</a>, Hong Kong University of Science and Technology (HKUST)</li>
                <li class="fw-light"><a href="mailto:huangdi@ict.ac.cn">Di Huang</a>, ICT, Chinse Academy of Sciences</li>
            </ul>
        </section>
    </div>
</main>

<footer class="container cemb-4 text-center py-3">
    <small class="text-muted">ISCA Workshop: AI for Fully-Automated Chip Design (AI4FACD @ ISCA 2024)</small>
</footer>
